

body, html {
  margin: 0;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  background-image: url("../img/bg.jpg");

}

img {
  width: 100% !important;
  /*height: 100% !important;*/
}

figure {
  margin: 0;
}

body {
  background-size: cover;
  background-attachment: fixed;
}

.page{
  height: 100vh;
  width: 100vw;
}
/*HOME*/

#home{
  background-attachment: fixed;
  background-size: cover;
}

body #navheader{
  background-color: rgba(35,35,35,0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 16px;
}
body #navheader a{
  color: white;
}
body #navheader a::after{
  content:'';
  position: absolute;
  background-color: white;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: 0.2s;
}
body #navheader a:hover::after{
  width: 100%;
}
body #header {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
}
body #header .logoBus{
  width: 30%;
}


/*sub page*/
@font-face {
  font-family: "cool";
  src:url("../img/N_E_B.TTF");
}
.auCoin{
  color: white;
  font-weight: bold;
  padding-bottom: 30px;
}
.subPage{
  font-family: "cool";
  color: white;
  background-color:rgba(237, 125, 49,0.9);
  padding-top: 90px;
  /*padding-bottom: 80px !important;*/
  /*overflow: auto;*/
}
.subPage h2{
  text-align: center;
  font-weight: bold;
}
.subPage .carte{
  position: relative;
}
.subPage .carte i{
  text-shadow: 0 0 2px grey;
  position: absolute;
  color: red;
  left: 50%;
  top: 50%;
  font-size: 50px;
}
.thumb-tack{
  transform: rotate(15deg);
}


/*PROFIL*/
.artisanPhoto{
  border-radius: 100PX;
  overflow: hidden;
}
.artisanPhoto img{
  border-radius: 100PX;
  overflow: hidden;
}
.subPage .carte .artisan1:hover .profil{
  padding-top: 20px;
  width: 500px;
  opacity: 1;
  overflow: hidden;
}
.subPage .carte i .profil p{
  font-size: 16px;
}
.subPage .carte i .profil .presentation{
}
.subPage .carte .artisan{
  font-size: 40px  ;
  color: #2A69B0;
  font-size: 90px;
}
.subPage .carte .artisan1{
  left: 20%;
  top: 60%;
}
.subPage .carte .artisan2{
  left: 30%;
  top: 25%;
}
.subPage .carte .artisan3{
  left: 55%;
  top: 63%;
}
.subPage .carte .artisan4{
  left: 70%;
  top: 45%;
}
.subPage .carte .artisan5{
  left: 75%;
  top: 22%;
}
.subPage .carte i .profil{
  position: absolute;
  z-index: 40;
  background-color: white;
  left: 100%;
  top: -200%;
  width: 0;
  transition: 0.5s;
  overflow: hidden;
  border: 1px solid #2A69B0;
  border-radius: 15px 15px 15px 0;
  opacity: 0;
}



/*CARTE*/
.subPage iframe{
  width: 90%;
  padding-left: 40px;
}
.subPage .filtre ul{
  list-style-type: none;
  padding: 0;
}
.subPage .filtre ul li{
  padding-top: 20px;
}
.subPage .filtre span{
  font-weight: bold;
  font-size: 24px;
}
select{
  margin-top: 15px;
}

/*FILTRE*/
.bijoux{
  cursor: pointer;

}
